<!DOCTYPE html>
<html lang="fr">
<head>
    <title>AIP Confort SignUp / Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../static/romain/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/romain/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/romain/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/romain/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/romain/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/romain/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/romain/css/util.css">
    <link rel="stylesheet" type="text/css" href="../static/romain/css/main.css">
    <!--===============================================================================================-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header class="Header">
    <div class="logo">AIP Confort</div>
    <div class="grid">
        <div class="row row-col-3 justify-content-center">
            <div class="col-1">
                <a href="https://aip-confort.milebits.com:3001">API</a>
            </div>
            <div class="col-2"><a href="https://aip-confort.milebits.com/aip-confort/" target="_blank">Documentation
                API</a></div>
            <div class="col-6">
                <button class="buttn" type="button" id="tokenCopier">Cliquer pour copier votre token</button>
            </div>
            <div class="col-2">
                <div class="loginButtonContainer"></div>
            </div>
            <div class="col-1">
                <div class="Username" id="UsernameHolder">
                    Username
                </div>
            </div>
        </div>
    </div>
<!--    <ul>-->
<!--        <li><a href="https://aip-confort.milebits.com:3001">API</a></li>-->
<!--        <li><a href="https://aip-confort.milebits.com/aip-confort/" target="_blank">Documentation API</a></li>-->
<!--    </ul>-->
<!--    <button class="buttn" type="button" id="tokenCopier">Cliquer pour copier votre token</button>-->
<!--    <div class="loginButtonContainer"></div>-->
<!--    <div class="Username" id="UsernameHolder">-->
<!--        Username-->
<!--    </div>-->
</header>


{% block content %}
{# Template inserted here #}
{% endblock %}


<script src="https://cdn.jsdelivr.net/npm/rater-js@1.0.1/index.min.js"></script>
<!--===============================================================================================-->
<script src="../static/romain/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="../static/romain/vendor/bootstrap/js/popper.js"></script>
<script src="../static/romain/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="../static/romain/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="../static/romain/vendor/tilt/tilt.jquery.min.js"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })

</script>
<!--===============================================================================================-->
<script src="../static/romain/js/main.js"></script>

</body>
</html>